.jumbotron{
  background-color: brown;
  color:white;
  text-align: center;
  padding: 70px 0px;
}

.icons{
  font-size: 45px;
}

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}